---
import UserProfile from '@/components/UserProfile.astro'
import AvatarEffect from '@/components/AvatarEffect.astro'

interface Props {
	username: string
	avatarUrl: string
	summary: string
	githubUrl: string
	spookyAlias?: string
	spookyBio?: string
	spookyAvatarUrl?: string
}

const { summary, avatarUrl, username, githubUrl, spookyAlias, spookyBio, spookyAvatarUrl } =
	Astro.props
---

<section class="relative content-center min-h-dvh w-screen" data-alias={spookyAlias}>
  <div class="absolute left-0 top-0 -z-40 aspect-video h-[100vh] w-screen">
    <video
      id="videoThunder"
      loop
      muted
      autoplay={Boolean(spookyAlias)}
      class:list={["aspect-video size-full overflow-hidden object-cover", !spookyAlias ? 'hidden' : 'block']}
      src='/assets/thunder-effect.mp4'
    >
      <source type="video/mp4" src='/assets/thunder-effect.mp4' />
    </video>
    <video 
      id="videoSmooke" 
      loop
      class="aspect-video size-full overflow-hidden object-cover hidden opacity-50"
      muted
      src='/assets/smooke-effect.mp4'>
      <source type="video/mp4" src='/assets/smooke-effect.mp4' />
    </video>
  </div>
  {!spookyAlias 
    && 
    <>
      <textarea name="summary" id="summary" class="hidden">{summary}</textarea>
      <input name="avatarUrl" id="avatarUrl" class="hidden" value={avatarUrl} />
      <input name="username" id="username" class="hidden" value={username} />  
      <div class="w-full mx-auto max-w-4xl flex flex-col justify-center items-center gap-8" id="initialScreen">
        <p class="text-2xl lg:text-5xl text-yellow-500 font-medium text-center font-body animate-flicker" id="spookyFact">Gathering your information from the shadows... This may take a moment.</p> 
      </div>
    </>
  }
  <AvatarEffect />
  <UserProfile username={username} githubUrl={githubUrl} spookyAlias={spookyAlias} spookyBio={spookyBio} spookyAvatarUrl={spookyAvatarUrl}/>
</section>

<script>
  // TODO: add dynamic import
  import { BG_PROMPTS, FINAL_MESSAGES, HALLOWEEN_FACTS, INTRODUCTIONS, MASK_PROMPTS } from '@/constants'
  import { getRandomElement } from '@/helpers/get-random-element'
  import { generateCreepyAvatar } from '@/services/client-transformations'
  import { pollForProcessingImage } from '@cloudinary-util/util';

  const aliasElement = document.querySelector("[data-alias]")?.getAttribute('data-alias') ?? ''
  const videoThunder = document.querySelector("#videoThunder") as HTMLVideoElement
  const videoSmooke = document.querySelector("#videoSmooke") as HTMLVideoElement
  const userCreepyAvatarEffectContainer = document.querySelector("#userCreepyAvatarEffectContainer") as HTMLDivElement
  const userCreepyAvatarEffect = document.querySelector("#userCreepyAvatarEffect") as HTMLImageElement
  const initialScreen = document.querySelector('#initialScreen') as HTMLHeadingElement

  if(!aliasElement){
    videoSmooke.style.display = 'block'
    videoSmooke.play()

    const avatarUrlElement = document.querySelector('#avatarUrl') as HTMLInputElement
    const usernameElement = document.querySelector('#username') as HTMLInputElement
    const spookyFactElement = document.querySelector('#spookyFact') as HTMLParagraphElement
    const summary = document.querySelector('#summary') as HTMLTextAreaElement
    const summaryValue = summary.value
    
    let TOTAL_INTROS = 0
    const MAX_INTROS = 2

    let intervalId: any
    intervalId = setInterval(() => {
      let text = ''

      if(TOTAL_INTROS < MAX_INTROS){
        text = getRandomElement({ list: INTRODUCTIONS })
        spookyFactElement.textContent = text
        TOTAL_INTROS++
        return
      }

      text = getRandomElement({ list: HALLOWEEN_FACTS })
      spookyFactElement.textContent = text
      
    },5000)

    const stopInterval = () => {
      clearInterval(intervalId)
      intervalId = null
    }

    const response = await fetch('/api/bio', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        summary: summaryValue
      })
    })
    const data = await response.json()
    const { alias, intro, bio } = data
    const bgPrompt = getRandomElement({ list: BG_PROMPTS })
    const maskPrompt = getRandomElement({ list: MASK_PROMPTS })
    
    // Uploading the github avatar image to Cloudinary
    const uploadResponse = await fetch('/api/upload', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ avatarUrl: avatarUrlElement.value, username: usernameElement.value, publicId: usernameElement.value })
    })

    const uploadData = await uploadResponse.json()
    if(!uploadData || !uploadData.publicId){
      console.error('Error uploading github image')
      stopInterval()
    }else {
      const { publicId } = uploadData
    
      // Generating creepy avatar from the github image
      const imageUrl = generateCreepyAvatar({ publicId: publicId, bgPrompt, maskPrompt })
    
      if (await pollForProcessingImage({ src: imageUrl }) ) {
        // Uploading the creepy avatar image to Cloudinary
        const uploadResponse = await fetch('/api/upload', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ avatarUrl: imageUrl, username: usernameElement.value, publicId: `${usernameElement.value}-creepy-avatar` })
        })

        const uploadData = await uploadResponse.json()

        stopInterval()

        if(!uploadData || !uploadData.publicId){
          console.error('Error uploading creepy avatar')
        }else {
          const { publicId:creepyAvatarPublicId } = uploadData
      
          const finalMessage = getRandomElement({ list: FINAL_MESSAGES })
          spookyFactElement.textContent = finalMessage

          setTimeout(() => {
            initialScreen.style.display = 'none'
            userCreepyAvatarEffectContainer.style.display = 'block'
            userCreepyAvatarEffect.src = imageUrl
          },2000)

          setTimeout(() => {
            videoSmooke.style.display = 'none'
            videoSmooke.pause()
            videoThunder.style.display = 'block'
            videoThunder.play()
          },5000)
          
          // Adding details to the user profile
          const userCreepyAlias = document.querySelector('#userCreepyAlias') as HTMLHeadingElement
        
          const userCreepyProfile = document.querySelector('#userCreepyProfile') as HTMLDivElement
          const userCreepyBio = document.querySelector('#userCreepyBio') as HTMLParagraphElement
          const useCreepyAvatar = document.querySelector('#userCreepyAvatar') as HTMLImageElement
      
          userCreepyAlias.textContent = alias
          userCreepyBio.textContent = bio
          useCreepyAvatar.src = imageUrl
          
          setTimeout(() => {
            userCreepyAvatarEffectContainer.style.display = 'none'
            userCreepyProfile.style.display = 'block'
          },8000)
  
          // Updating spooky data in database
          const responseDB = await fetch('/api/save-details', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              username: usernameElement.value,
              alias,
              bio,
              spookyAvatar: imageUrl,
              intro,
              creepyAvatarPublicId
            })
          })
  
          const dataDB = await responseDB.json()
          if(!dataDB.ok){
            console.error('Error saving spooky data')
          }
        }
      }
    }
  }
</script>