---
interface Props {
	name: string;
	color: string;
	randomSticker: string;
	index: number;
	url: string;
}

const { name, color, randomSticker, index, url } = Astro.props;
---

<div
	class="flex flex-col items-center gap-1"
	style={`transform-style: preserve-3d;transform: translateZ(${index === 1 ? "200" : "0"}px);`}
>
	<img
		src={url}
		alt={`${randomSticker} of ${name}`}
		class="aspect-square"
		style={`filter: drop-shadow(0 0 4.3rem ${color});`}
	/>
	<div
		class="p-6 bg-neutral-950 flex gap-2 rounded-lg border-2 border-[var(--border-color)]"
		style={`--border-color: ${color};`}
	>
		<span
			class={`text-3xl xl:text-5xl text-[color:var(--text-color)] font-semibold`}
			style={`--text-color: ${color};`}>{name}</span
		>
	</div>
</div>
