---
import { getRandomElement } from '@/helpers/getRandomElement'
import { saveHauntedFolio } from '@/services/db'
import { generatePumpkin } from '@/services/image'

type Language = {
	name: string
	color: string
}

interface Props {
	username: string
	topLanguages: Language[]
	spookyLanguages?: {
		name: string
		color: string
		url: string
	}[]
}

const { topLanguages, spookyLanguages, username } = Astro.props

let data = spookyLanguages

const STICKERS_IDS = ['stickers/witch-pumpkin', 'stickers/pumpkin-candle']
const randomSticker = getRandomElement({ list: STICKERS_IDS })

if (!data) {
	// Let's change the order of the languages for UI purposes
	const languages = [...topLanguages]
	const topThreeLanguages = [languages[1], languages[0], languages[2]]

	const listOfPromises = topThreeLanguages.map(async ({ name, color }) => {
		const url = await generatePumpkin({ publicId: randomSticker, color })
		return {
			name,
			color,
			url
		}
	})

	data = await Promise.all(listOfPromises)

	await saveHauntedFolio({ data: { login: username, spookyLanguages: data }, isNew: false })
}
---

<section class="content-center p-8 w-screen h-screen mx-auto max-w-4xl lg:max-w-7xl mt-36 lg:mt-44">
	<div class="relative bg-black px-4 py-2 border-4 border-orange-500 shadow-[4px_4px_0px_0px_rgba(249,115,22,1)] -rotate-2 hover:rotate-0 transition duration-200 mb-16 sm:mb-20">
		<h2 class="text-4xl sm:text-5xl lg:text-8xl tracking-widest font-bold text-orange-600 transform font-heading text-balance animate-flicker uppercase">Spellbound Languages</h2>
		<img src="/assets/ghost.avif" alt="A creepy ghost" class="absolute hidden lg:block bottom-2 right-6 size-14 md:size-20 animate-float"/>
	</div>
	<div class="w-full flex md:flex-row flex-col justify-between items-center mt-8 md:mt-12 xl:mt-16" style='perspective: 1000px;'>
		{data.map(({ name, color, url }, index) => (
			<div class='flex flex-col items-center gap-1' style={`transform-style: preserve-3d;transform: translateZ(${index === 1 ? '200' : '0'}px);`}> 
				<img src={url} alt={`${randomSticker} of ${name}`} class="aspect-square" style={`filter: drop-shadow(0 0 4.3rem ${color});`}/>
				<div class="p-6 bg-neutral-950 flex gap-2 rounded-lg border-2 border-[var(--border-color)]" style={`--border-color: ${color};`}>
					<p class={`text-3xl md:text-4xl xl:text-6xl text-[color:var(--text-color)] font-bold font-subtitle`} style={`--text-color: ${color};`}>{name}</p>
				</div>
			</div>
		))}
	</div>
</section>