---
import { getRandomElement } from '@/helpers/get-random-element'
import { saveHauntedFolio } from '@/services/db'
import { generatePumpkin } from '@/services/server-transformations'
import PumpkinLanguage from '@/components/PumpkinLanguage.astro'
import Heading from '@/components/Heading.astro'

type Language = {
	name: string
	color: string
}

interface Props {
	username: string
	topLanguages: Language[]
	spookyLanguages?: {
		name: string
		color: string
		url: string
	}[]
}

const { topLanguages, spookyLanguages, username } = Astro.props

let data = spookyLanguages

const STICKERS_IDS = ['stickers/witch-pumpkin', 'stickers/pumpkin-candle']
const randomSticker = getRandomElement({ list: STICKERS_IDS })

if (!data) {
	// Let's change the order of the languages for UI purposes
	const languages = [...topLanguages]
	const topThreeLanguages = [languages[1], languages[0], languages[2]]

	const listOfPromises = topThreeLanguages.map(async ({ name, color }) => {
		const url = await generatePumpkin({ publicId: randomSticker, color })
		return {
			name,
			color,
			url
		}
	})

	data = await Promise.all(listOfPromises)

	await saveHauntedFolio({ data: { login: username, spookyLanguages: data }, isNew: false })
}
---

<section class="content-center p-8 xl:w-screen xl:h-screen mx-auto max-w-5xl lg:max-w-[90rem] mt-24 xl:mt-32 mb-8 sm:mb-16">
	<div class="py-2 flex flex-col gap-6 md:gap-8">
		<Heading title="Spellbound Languages"/>
		<p class="text-orange-200 font-body text-base lg:text-2xl max-w-4xl">Discover the programming languages that silently dominate, waiting to be unleashed.</p>	
	</div>
	<div class="w-full flex md:flex-row flex-col space-y-8 md:space-x-2 justify-between items-center mt-8 md:mt-12 xl:mt-16" style='perspective: 1000px;'>
		{data.map(({ name, color, url }, index) => (
			<PumpkinLanguage name={name} color={color} randomSticker={randomSticker} index={index} url={url} />
		))}
	</div>
</section>